# GIT IGNORE FILE



### Standard WP Folders & Files to ignore ###

public_html/*~
public_html/desktop.ini
public_html/.htaccess
public_html/.DS_Store
public_html/.svn
public_html/.cvs
public_html/*.bak
public_html/*.swp
public_html/Thumbs.db

public_html/wp-config.php
public_html/wp-content/uploads/

public_html/wp-content/blogs.dir/
public_html/wp-content/upgrade/
public_html/wp-content/backup-db/
public_html/wp-content/advanced-cache.php
public_html/wp-content/wp-cache-config.php
public_html/wp-content/cache/*
public_html/wp-content/cache/supercache/*
public_html/*.log
public_html/wp-content/cache/
public_html/wp-content/backups/
public_html/sitemap.xml
public_html/sitemap.xml.gz



### Custom WP Files to ignore ###

public_html/wordpress2015/*~
public_html/wordpress2015/desktop.ini
public_html/wordpress2015/.htaccess
public_html/wordpress2015/.DS_Store
public_html/wordpress2015/.svn
public_html/wordpress2015/.cvs
public_html/wordpress2015/*.bak
public_html/wordpress2015/*.swp
public_html/wordpress2015/Thumbs.db

public_html/wordpress2015/wp-config.php
public_html/wordpress2015/wp-content/uploads/

public_html/wordpress2015/wp-content/blogs.dir/
public_html/wordpress2015/wp-content/upgrade/
public_html/wordpress2015/wp-content/backup-db/
public_html/wordpress2015/wp-content/advanced-cache.php
public_html/wordpress2015/wp-content/wp-cache-config.php
public_html/wordpress2015/wp-content/cache/*
public_html/wordpress2015/wp-content/cache/supercache/*
public_html/wordpress2015/*.log
public_html/wordpress2015/wp-content/cache/
public_html/wordpress2015/wp-content/backups/
public_html/wordpress2015/sitemap.xml
public_html/wordpress2015/sitemap.xml.gz
